<!DOCTYPE html>
<html>

  <head>

    {% block head%}

      <title>Jose Wellington Porto Marinh Junior</title>

    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <header>

      <div class="links">
        <a href="/">Sobre</a>
        <a href="/porti">Portfólio</a>
      </div>

    </header>
    {% block content %}{% endblock%}
    </body>

  </html>